/* Basic Styling for Page and Elements */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
}

.container {
    max-width: 1300px;
}

.stall-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}

.food-container {
    background-color: #ffffff;
    width: auto;
    height: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

.stall-image {
    width: auto;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    
}

.stall-details ul {
    padding-left: 0;
    margin-bottom: 20px;
}

.stall-details li {
    margin-bottom: 10px;
}

.stall-link,
.review-button {
    margin-top: 15px;
}

.stall-image-container {
    position: relative;
    
}

.favorite-icon {
    position: absolute;
    top: -100px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    font-size: 3em; /* Makes the heart icon larger */
    color: #ff3860; /* Gives the heart icon a color, change as you like */
    cursor: pointer; /* Changes the cursor to indicate it's clickable */
    z-index: 10; /* Ensures the icon is above other elements */
}

.card {
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    
}

.card:hover{
    border: 1px solid rgb(124, 0, 0);
}

.to-order {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  left: 5%;
  transform: translateX(-50%);
  display: none;
}

.card:hover .to-order {
  display: block;
}

.review-card {
    border: 1px solid #e7e7e7;
}

.consumer-image {
    object-fit: cover;
}

.static-star {
    color: #ffcc00; /* golden color for stars */
    font-size: 36px;
}

/* Hover effects */

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.stall-link:hover,
.review-button:hover {
    text-decoration: none;
}

/* User's own review special styling */

.user-own-review {
    border: 2px solid #007BFF; /* using bootstrap's primary color */
}

/* Responsive adjustments */

@media (max-width: 768px) {
    .stall-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 576px) {
    .stall-details ul {
        text-align: center;
    }
}

