<!DOCTYPE html>
<html>
  <head>
    <!-- Bootstrap Integration-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	
	<!-- Google OAuth 2.0 integration -->
	<meta name="google-signin-client_id" content="236919054746-6l15ti9j8upgcf4kq8sp2uvada8508lj.apps.googleusercontent.com">


    <style>
       /* Set the map's styles*/
	   #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>


  <body>
	<!-- Log In trigger modal -->
	<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#LogInModal">
		Log In
  	</button>
  
	<!-- Log In Modal -->
	<div class="modal fade" id="LogInModal" tabindex="-1" aria-labelledby="LogInModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title fs-6 text-center" id="LogInModalLabel">Log in to your Where Makan account</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				&nbsp;

				<!-- Log In By Google -->
				<div class = "row">
					<div class = "col"></div>
					<div class="g-signin2 col-6" data-onsuccess="onSignIn">
						Continue with Google
					</div>
					<div class = "col"></div>
				</div>
				
	
				<!-- Log In Fields -->
				<div class="modal-body">
					<div class="row">
						<div class="col">
							<div class="col">
								<label for="email" class="fw-bold">Email address</label>
								<input id="email" class="form-control" type="email" placeholder="">
							</div>

							&nbsp;

							<div class="col">
								<label for="pwd" class="fw-bold">Password</label>
								<input id="pwd" class="form-control" type="password" placeholder="">
							</div>
			
							<span>&nbsp;</span>
							
							<div class="col text-center">
								<button id = "log_in" type="button" class="btn btn-primary">LOG IN</button>
							</div>
						</div>
					</div>
				</div>

				<!-- Button to change to Sign Up Page -->
				<div class = "row text-center">
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-target = "#SignUpModal" data-bs-toggle="modal" data-bs-dismiss="modal">Don't have a Where Makan account? Sign up here</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Sign Up trigger modal -->
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#SignUpModal">
		SIGN UP
		</button>
	
	<!-- Sign Up Modal -->
	<div class="modal fade" id="SignUpModal" tabindex="-1" aria-labelledby="SignUpModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title fs-6 text-center" id="SignUpModalLabel">Create your Where Makan account</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				&nbsp;

				<!-- Sign Up With Google -->
				<div class = "row">
					<div class = "col"></div>
					<div class="g-signin2 col-6" data-onsuccess="onSignIn">
						Continue with Google
					</div>
					<div class = "col"></div>
				</div>

				<!-- Sign Up Fields -->
				<div class="modal-body">
					<div class = "row">
						<div class="col">
							<label for="f_name" class="fw-bold">First Name</label>
							<input id="f_name" class="form-control" type="text" placeholder="">
						</div>
						<div class="col">
							<label for="L_name" class="fw-bold">Last Name</label>
							<input id="L_name" class="form-control" type="text" placeholder="">
						</div>
					</div>
					
					&nbsp;

					<div class="col">
						<label for="su_email" class="fw-bold">Email address</label>
						<input id="su_email" class="form-control" type="email" placeholder="">
					</div>

					&nbsp;

					<div class="col">
						<label for="confirm_email" class="fw-bold">Confirm Email address</label>
						<input id="confirm_email" class="form-control" type="email" placeholder="">
					</div>

					&nbsp;

					<div class="col">
						<label for="su_pwd" class="fw-bold">Password</label>
						<input id="su_pwd" class="form-control" type="password" placeholder="">
					</div>

					&nbsp;

					<div class="col">
						<label for="cfm_pwd" class="fw-bold">Confirm Password</label>
						<input id="cfm_pwd" class="form-control" type="password" placeholder="">
					</div>

					<span>&nbsp;</span>

					<div class="col text-center">
						<button id= "sign_up" type="button" class="btn btn-primary">SIGN UP</button>
					</div>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-target = "#LogInModal" data-bs-toggle="modal" data-bs-dismiss="modal">Already have a Where Makan account? Log in here</button>
				</div>
			</div>
		</div>
	</div>

    <!--The div element for the map -->
    <div id="map"></div>		
    <script>
		// Initialize and add the map
		var latitude = 1.2796740690582409;
		var longitude = 103.84745013835952;
		function initMap() {
  			// Change the Lat and Ing to reflect different places
  			var uluru = {lat: latitude, lng: longitude};
  			// The map, centered at Uluru
  			var map = new google.maps.Map(
      		document.getElementById('map'), {zoom: 4, center: uluru});
  			// The marker, positioned at Uluru
  			var marker = new google.maps.Marker({position: uluru, map: map});
			}
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function, i.e., the initMap() function is executed as soon as the API is loaded.
    -->
    <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCa9b0AaISqJ2I3eidqjG1L_eFzlTOKmw&callback=initMap">
    </script>

	<!--For Google OAuth 2.0-->
	<script src="https://apis.google.com/js/platform.js" async defer></script>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>