@import './base.css';


/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
} */

*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-color{
  background-color: #f8f8f8;
}


.image-overlay {
  position: relative;
  max-width: 100%;
}

.image-overlay::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity by changing the last value (0.0 to 1.0) */
}

/* Style the image for better visibility */
.image-overlay img {
  width: 100%;
  height: auto;
}

/* @media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
} */

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */

  .carousel-item img{
    width: 800px; 
    height: 430px;
    object-fit: cover;
    object-position: 50% 50%;
  }
  
  .static-text {
    position: absolute;
    top: 50px;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    text-align: center;
  }
.custom-button {
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.custom-button.btn-outline-light:hover {
    background-color: black; /* Change to your desired dark color */
    border-color: black;
    color: #fff; /* Change to your desired text color */
}

.homeH1{
  font-weight: bold;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
